<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1 id="settings-header">Settings</h1>

  <ion-item>
    <ion-toggle>Dark Mode</ion-toggle>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Enter API (Google Maps)" [(ngModel)]="apiKey" (ionFocus)="onFocusApiBox()" (ionBlur)="onBlurApiBox()"></ion-input>
    <ion-button (click)="setApiKey()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <br>
  <ion-text id="p-first-key" [hidden]="!isFocusedApiBox">Get your API key <a href="https://console.cloud.google.com/google/maps-apis/credentials">here</a></ion-text>
  <br>
  <div class=""></div>
</ion-content>
