<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1 id="settings-header">Settings</h1>

  <ion-item>
    <ion-toggle>Dark Mode</ion-toggle>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Enter API (Google Maps)" [(ngModel)]="apiKey"></ion-input>
    <ion-button (click)="setApiKey()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <p></p>
</ion-content>
