ion-segment {
  width: 100% !important;
}

ion-segment-content {
  justify-content: center;
}

#add-stock-button {
  height: 36px;
  width: 367px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}