<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inventory</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="default">
    <ion-segment-button value="default" contentId="display-items">
      <ion-label>Items ({{itemCount}})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" contentId="add-items">
      <ion-label>Add Items</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    <ion-segment-content id="display-items">
      <ion-list>
        @for (item of items; track item) {
          <ion-item>
            <ion-label>{{ item.name }}</ion-label>
            
            <ion-text slot="end">{{ item.qty }}</ion-text>
          </ion-item>
        }  
      </ion-list>
    </ion-segment-content>
    <ion-segment-content id="add-items">
      <div class="form-wrapper">
        <ion-item>
          <ion-input label="Name" placeholder="Enter name" labelPlacement="stacked" [clearInput]="true" [(ngModel)]="itemName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Quantity" placeholder="Enter quantity" labelPlacement="stacked" [clearInput]="true" [(ngModel)]="itemQty"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Description" placeholder="Enter description" labelPlacement="stacked" [clearInput]="true" [(ngModel)]="itemDesc"></ion-input>
        </ion-item>

      <ion-button id="add-stock-button" (click)="addToStock()">ADD TO STOCK</ion-button>
      </div>
    </ion-segment-content>
  </ion-segment-view>

  <ion-alert
    [isOpen]="quantityAlert"
    header="Invalid Entry"
    message="Quantity should be greater than 0"
    [buttons]="alertButtons"
    (didDismiss)="setResult($event)"
  ></ion-alert>
  
</ion-content>
