ion-segment-view {
    height: 150px;
}

ion-segment-content {
display: flex;
align-items: center;
justify-content: center;
}

.apples {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
}