ion-content {
  --background: #E6EFE9;
}

ion-segment {
  --indicator-color: #104911; 
}

ion-segment-button {
  --color-checked: #104911; 
  
  --color: #666666; 
}

ion-segment-content {
  justify-content: center;
}

#remove-item-button {
  height: 36px;
  width: 367px;
  --background: #C1D7CB;
  --color: #104911;
  --background-activated: #1A751B;
  align-self: center;
}

#save-changes-button {
  height: 36px;
  width: 367px;
  --background: #104911;
  --background-activated: #1A751B;
  align-self: center;
}

#edit-details-button {
  height: 36px;
  width: 367px;
  --background: #104911;
  --background-activated: #1A751B;
  align-self: center;
}

#add-stock-button {
  height: 36px;
  width: 367px;
  --background: #104911;
  --background-activated: #1A751B;
  margin: 8px 0 0 0;
  align-self: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-fab-button::part(native) {
  background-color: #104911;
  border-radius: 100px;
  color: #ffffff;
  --box-shadow: none;
}

ion-fab-button::part(native):hover::after {
  background-color: #1A751B;
}

ion-fab-button::part(native):active::after {
  background-color: #1A751B;
}