<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-segment value="default">
    <ion-segment-button value="default" contentId="display-items">
      <ion-label>Items ({{itemCount}})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" contentId="add-items">
      <ion-label>Add Items</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    
    <ion-segment-content id="display-items">
      <ion-searchbar (ionInput)="searchList($event)"></ion-searchbar>

      <ion-list>
        @for (item of filteredItems; track item) {
          <ion-item button="true" detail="true" (click)="openItemModal(item)">
            <ion-label>{{ item.name }}</ion-label>
            
            <ion-text slot="end">{{ item.qty }}</ion-text>
          </ion-item>
        }  
      </ion-list>
    </ion-segment-content>
    <ion-segment-content id="add-items">
      <div class="form-wrapper">
        <ion-item>
          <ion-input label="Name" placeholder="Enter name" labelPlacement="stacked" [clearInput]="true" [(ngModel)]="itemName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Quantity" placeholder="Enter quantity" labelPlacement="stacked" [clearInput]="true" [(ngModel)]="itemQty"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Description" placeholder="Enter description" labelPlacement="stacked" [clearInput]="true" [(ngModel)]="itemDesc"></ion-input>
        </ion-item>

      <ion-button id="add-stock-button" (click)="addToStock()">ADD TO STOCK</ion-button>
      </div>
    </ion-segment-content>
  </ion-segment-view>

  <ion-alert
    [isOpen]="isQuantityAlert"
    header="Invalid Entry"
    message="Quantity should be greater than 0"
    [buttons]="alertButtons"
    (didDismiss)="setResult()"
  ></ion-alert>

  <ion-alert
    [isOpen]="isUserAlert"
    header="Identify yourself"
    message="Enter your name: "
    [inputs]="alertInputs"
    [buttons]="shareAlertButtons"
    (didDismiss)="shareDismiss($event)"
  ></ion-alert>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button id="share-button" (click)="startShareProcess()">
      <ion-icon name="share-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-modal [isOpen]="isItemModalOpen" (didDismiss)="closeItemModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="closeItemModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <h2>{{activeItem.name}}</h2>
        <p>{{activeItem.desc}}</p>

        

        <div class="form-wrapper">
          @if (!isEditingItem) {
            <ion-button id="edit-details-button" (click)="editDetails()">EDIT DETAILS</ion-button>
          }

          @if (isEditingItem) {
            <ion-item>
              <ion-input label="Name" labelPlacement="stacked" [(ngModel)]="activeItem.name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" label="Amount" labelPlacement="stacked" [(ngModel)]="activeItem.qty"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Description" labelPlacement="stacked" [(ngModel)]="activeItem.desc"></ion-input>
            </ion-item>
            <ion-button id="save-changes-button" expand="block" (click)="editDetails()">SAVE CHANGES</ion-button>
          }
          <ion-button id="remove-item-button" expand="block" (click)="removeItem()">REMOVE ITEM</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
